html, body, #react-root {
    background-color: #0c0c0c;
    font-family: monospace;
    font-size: 12pt;
    color: #ddd;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tableau {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transition: background-color .15s, height .25s, width .25s; */
    transition: all .2s;
    flex: 0 0 auto;
}

.children {
    display: grid;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 3em;
    opacity: 1;
    
    transition: all .25s;
    
    justify-items: center;
    border-top: 1px solid #ddd;
    padding-top: .5em;
    margin-top: .5em;
}

.children.hidden {
    grid-auto-columns: 0px;
    gap: 0;
    opacity: 0;
}

.formula {    
    transition: all .15s;
    /* background-color .15s, outline-color .15s; */
    width: max-content;
    outline-color: #0c0c0c;
}

.tableau p {
    margin: 0;
    padding: .5em;
    user-select: none;
}

.selectable:hover, .hoverable:hover {
    background-color: #2c2c2c
}

.selected {
   outline: 2px solid #2c2c2c
}

.selectable {
    background-color: #1f1f1f;		      
}

.fully-applied {
    color: #777;
}

.closed .formula {
    color: #444;
}

.closed .children {
    border-color: #525252;
}

.principal {
    transition: outline .15s;
    /* padding-left: 1px; */
    /* padding-right: 1px; */
    outline: 1px solid transparent;
    position: relative;
}
    
.hoverable:hover .principal::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: gray;
    /* outline-color: gray; */
}
