html, body, #react-root {
    background-color: #0c0c0c;
    font-family: monospace;
    font-size: 12pt;
    color: #ddd;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.tableau {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em 0 0 0;
    transition: background-color .15s, height .25s, width .25s;
    /* min-width: max-content; */
    flex: 0 0 auto;
    /* justify-self: center; */
    /* outline: 1px solid #3c3c3c; */
}

.children {
    /* display: flex; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 3em;
    /* align-items: stretch; */
    /* width: 100%; */
    /* justify-content: center; */
    /* width: 0px; */
    /* transition: width .25s; */
    justify-items: center;
    border-top: 1px solid #ddd;
}

.formula:last-of-type {
    margin-bottom: .5em;
    /* background-color:  #f00; */
}

.formula {
    margin: 0;
    padding: .5em;
    user-select: none;
    transition: background-color .15s, outline-color .15s;
    width: max-content;
    outline-color: #0c0c0c;
}

.selectable:hover, .hoverable:hover {
    background-color: #2c2c2c
}

.selected {
   outline: 2px solid #2c2c2c
}

.selectable {
    background-color: #1f1f1f;		      
}

/* .no-hover:hover { */
/*     background-color: initial; */
/* } */

.fully-applied span {
    color: #888;
}
